.vs/2DRenderingSystem/FileContentIndex/53ab26d8-9aa8-4ab2-9066-7ea5683000a9.vsidx
.vs/2DRenderingSystem/FileContentIndex/3f7ea856-8142-48f8-8c6d-35aa3343c962.vsidx
.vs/2DRenderingSystem/FileContentIndex/98d27bec-6113-4abb-bdb5-2e1703fc711b.vsidx
.vs/2DRenderingSystem/FileContentIndex/ac3fec48-3875-41c5-a623-bdd509b8a03a.vsidx
.vs/2DRenderingSystem/FileContentIndex/c6932642-09c9-4a32-a956-5128cf924788.vsidx
.vs/2DRenderingSystem/FileContentIndex/f6183d68-2dc9-41d9-a8e6-0b15cfb1329f.vsidx
.vs/2DRenderingSystem/v17/.suo
.vs/2DRenderingSystem/v17/Browse.VC.db
.vs/2DRenderingSystem/v17/DocumentLayout.backup.json
.vs/2DRenderingSystem/v17/DocumentLayout.json
.vs/2DRenderingSystem/v17/fileList.bin
.vs/2DRenderingSystem/v17/ipch/AutoPCH/23644e34b3eeb9f4/LOGMANAGER.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/37199b66298b20f/GAME.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/58664adada97a5fd/LOGMANAGER.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/8275860982069159/GAME.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/a7852fddff2579e3/LOGMANAGER.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/b69db8eb15250502/MAIN.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/b69e66e30ba9531f/ECS.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/b6f1ed8dd892d278/VCTMP2612_118891.LOGMANAGER.00000000.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/b8b4f089bd9fbbd4/MAIN.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/bfa5d993dfbe42f3/GAME.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/c451372931adcd14/MOVEMENTSYSTEM.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/cc935748df969191/MAIN.ipch
.vs/2DRenderingSystem/v17/ipch/AutoPCH/f1a22b1ceed19940/GAME.ipch
.vs/2DRenderingSystem/v17/Solution.VC.db
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/CL.command.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/Cl.items.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/CL.read.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/CL.write.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.command.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.read.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.secondary.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.write.1.tlog
2DRender.eb39b068/Debug/2DRenderingSystem.Build.CppClean.log
2DRender.eb39b068/Debug/2DRenderingSystem.ilk
2DRender.eb39b068/Debug/2DRenderingSystem.log
2DRender.eb39b068/Debug/2DRenderingSystem.vcxproj.FileListAbsolute.txt
2DRender.eb39b068/Debug/ECS.obj
2DRender.eb39b068/Debug/Game.obj
2DRender.eb39b068/Debug/glm.obj
2DRender.eb39b068/Debug/imgui.obj
2DRender.eb39b068/Debug/imgui_demo.obj
2DRender.eb39b068/Debug/imgui_draw.obj
2DRender.eb39b068/Debug/imgui_sdl.obj
2DRender.eb39b068/Debug/imgui_widgets.obj
2DRender.eb39b068/Debug/LogManager.obj
2DRender.eb39b068/Debug/Main.obj
2DRender.eb39b068/Debug/vc143.idb
2DRender.eb39b068/Debug/vc143.pdb
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/CL.command.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/Cl.items.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/CL.read.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/CL.write.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.command.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.read.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.secondary.1.tlog
2DRender.eb39b068/Debug/2DRender.eb39b068.tlog/link.write.1.tlog
2DRender.eb39b068/Debug/2DRenderingSystem.ilk
2DRender.eb39b068/Debug/2DRenderingSystem.log
2DRender.eb39b068/Debug/Game.obj
2DRender.eb39b068/Debug/glm.obj
2DRender.eb39b068/Debug/imgui.obj
2DRender.eb39b068/Debug/imgui_demo.obj
2DRender.eb39b068/Debug/imgui_draw.obj
2DRender.eb39b068/Debug/imgui_sdl.obj
2DRender.eb39b068/Debug/imgui_widgets.obj
2DRender.eb39b068/Debug/Main.obj
2DRender.eb39b068/Debug/vc143.idb
2DRender.eb39b068/Debug/vc143.pdb
